.faq {
  padding: 130px 0 144px;
  position: relative;
  background-image: url('../img/faq/faq-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $breakpoint992) {
    padding: 100px 0;
  }

  @media (max-width: $breakpoint768) {
    padding: 60px 0;
  }

  // .faq__title

  &__title {
    max-width: 830px;
    margin: 0 auto 56px;
    color: #353535;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    @media (max-width: $breakpoint992) {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 25px;
      margin-bottom: 24px;
    }
  }

  // .faq__inner

  &__inner {
    display: flex;
    column-gap: 24px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 24px;
    }

  }

  // .faq__main

  &__main {
    flex: 0 1 736px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .faq__info

  &__info {
    height: fit-content;
    border-radius: 14px;
    background-color: #FFF;
    padding: 32px 50px 32px;

    @media (max-width: $breakpoint992) {
      padding: 32px;
    }
  }

  // .faq__naming

  &__naming {
    margin-bottom: 16px;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 12px;
      width: 185px;
      height: 185px;
      border-radius: 100%;
      background-color: #d9d9d9;
      text-align: center;
    }

    h4 {
      margin-bottom: 2px;
      color: #353535;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      line-height: 128%;
    }

    span {
      display: block;
      color: #353535;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 128%;
    }
  }

  // .faq__contacts

  &__contacts {
    p {
      margin-bottom: 16px;
      color: #353535;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      line-height: 140%;
    }

    span {
      display: block;
      margin-bottom: 8px;
      color: #353535;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      opacity: 0.5;
    }
  }

  // .faq__phone

  &__phone {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    color: #E95229;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  // .faq__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 26px 52px;
    border-radius: 1000px;
    background-color: #E95229;
    box-shadow: 0px 0px 15px 0px #FFF inset;
    transition: box-shadow 0.2s linear;

    @media (max-width:359px) {
      padding: 20px;
      width: 100%;
    }

    span {
      opacity: 1;
      margin-bottom: 0;
      white-space: nowrap;
      color: #FFF;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.6px;
      text-transform: uppercase;
    }

    img {
      opacity: 0.7;
      transition: transform 0.2s linear;
    }

    &:hover {
      box-shadow: 0px 0px 20px 0px #E95229 inset;

      img {
        transform: translateX(-5px);
      }
    }
  }
}

.faq--main {
  padding-top: 0;

  .exhibition-samples__inner {
    position: relative;
    margin-bottom: 130px;
    margin-top: -50px;
    z-index: 2;
  }

  @media (max-width: $breakpoint992) {
    padding-top: 0;

    .exhibition-samples__inner {
      margin-bottom: 80px;
    }
  }

  @media (max-width: $breakpoint768) {
    padding-top: 0;

    .exhibition-samples__inner {
      margin-top: -40px;
      margin-bottom: 60px;
    }
  }
}