// Footer
.footer {
  padding: 46px 0 86px;
  background-color: #fff;

  @media (max-width: $breakpoint992) {
    padding: 40px 0;
  }

  @media (max-width: $breakpoint768) {
    padding: 40px 30px;
  }



  // .footer__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column-reverse;
      row-gap: 36px;
    }

  }

  // .footer__info

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }

  // .footer__logo

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 26px;

    p {
      color: #4C4C4D;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 142.857%;
      letter-spacing: 0.14px;
    }

    @media (max-width: $breakpoint992) {
      column-gap: 20px;

      p {
        font-size: 12px;
      }

      img {
        width: 70px;
      }
    }

    @media (max-width: $breakpoint768) {
      column-gap: 14px;

      img {
        width: 80px;
        min-width: 60px;
        height: auto;
      }

      p {
        max-width: 200px;
        line-height: 140%;
        font-size: 12px;
        letter-spacing: 0.1px;

        br {
          display: none;
        }
      }
    }
  }

  // .footer__creater

  &__creater {
    display: flex;
    align-items: center;
    column-gap: 22px;

    p {
      color: #949494;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 43px;
    }

    .path-1 {
      transition: all 0.2s linear;
    }

    .path-2 {
      transition: all 0.2s linear;
    }

    a:hover {
      .path-1 {
        fill: #FAD700;
      }

      .path-2 {
        fill: #2B2A29;
      }
    }
  }

  // .footer__contacts

  &__contacts {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 8px;
    }

    @media (max-width: $breakpoint992) {
      column-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 14px;
    }
  }

  // .footer__socials

  &__socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 4px;

    @media (max-width: $breakpoint768) {
      margin-top: 0;
    }

  }

  // .footer__social

  &__social {
    transition: 0.2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }

  // .footer__phone

  &__phone {
    margin-left: 14px;
    white-space: nowrap;
    color: #4C4C4D;
    font-size: 20px;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: 0.2px;
    transition: color 0.2s linear;

    &:hover {
      color: #E95229;
    }

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      margin-left: 10px;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.18px;
    }
  }

  // .footer__links

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 36px;

    @media (max-width: $breakpoint768) {
      align-items: center;
      row-gap: 20px;

      .nav__phones-link-btn {
        padding: 20px 36px;
        column-gap: 8px;

        span {
          font-size: 13px;
        }

        img {
          width: 13px;
          height: 13px;
        }
      }
    }

  }

  // .footer__politacal

  &__politacal {
    color: #949494;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    text-decoration-line: underline;
  }
}