// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1200) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: 'Qanelas', sans-serif;
  font-style: normal;
  color: #000;

  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tooltip {
  position: fixed;
  max-width: 330px;
  padding: 30px;
  color: #000;

  font-size: 14px;
  font-weight: 400;
  line-height: 145%;


  border-radius: 20px;
  // opacity: 0.9;
  background: #FFF;
  box-shadow: 0px 60px 60px 0px rgba(70, 70, 70, 0.06);
  z-index: 10;

  ul {
    padding-left: 20px;
    list-style: disc;

    li {
      list-style: disc;
    }
  }
}

.hero~.case {
  padding-top: 40px;
  padding-bottom: 80px;
}

.ymaps-2-1-79-gotoymaps__container,
.ymaps-2-1-79-gototech,
.ymaps-2-1-79-copyright__content-cell {
  opacity: 0;
  z-index: -100;
}